@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton.ttf');
}

/* Checkbox Style */
input[type="checkbox"] {
  filter: invert(86%) hue-rotate(20deg) brightness(1.3);
}